<div class="container-fluid">
  <% name = current_user.present? ? current_user.email : 'Stranger' %>
  <% if user_signed_in? %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 p-5">
          <h1 class="sty display-5 mb-5">Welcome, <%= name %> </h1>
          <%= render 'shared/checks' %>
        </div>
        <div class="col-md-6 p-5 mt-5">
          <img class="rounded-lg-3" src="https://www.dink.eu/wp-content/uploads/2019/02/unnamed.gif" alt="" width="520">
        </div>
      </div>
    </div>
  <% else %>
    <div class="container my-5">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 w-bold lh-1 sty">Devblog where imaginations turn into reality</h1>
          <br/>
          <p>Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components.</p>
          <br/>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <%= link_to "Sign In", new_user_session_path, :class => "btn btn-outline-primary btn-lg px-4 me-md-2 fw-bold" %>
            <%= link_to "Register", new_user_registration_path, :class => "btn btn-outline-success btn-lg px-4 ml-2" %>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="https://i.pinimg.com/originals/5f/8e/90/5f8e90b8b9c27c0e8b7aef48c432c5ce.jpg" alt="" width="720">
        </div>
      </div>
    </div>
    <div class="px-4 py-5 my-5 text-center mt-n5">
      <img class=" bg-white rounded" src="https://i.pinimg.com/originals/ab/03/14/ab03149e8d88df694b0a91dc738a3890.gif" alt="" width="380">
      <h1 class="display-4 mt-n4 sty">Recent Blogs</h1>
    </div>
    <%= render Post.publish.order(created_at: :desc) %>
  <% end %>
</div>
