<%= form_with model: [ @post, @suggestion ] do |form| %>
  <% if suggestion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(suggestion.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% suggestion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :find, style: "display: block" %>
    <%= form.text_field :find, required: true %>
  </div>
  <div>
    <%= form.label :replace, style: "display: block" %>
    <%= form.text_field :replace, required: true %>
  </div>
  <div>
    <%= form.hidden_field :post_id %>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>
