<%= form_for([@post, @suggestion]) do |form| %>
  <% if @suggestion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

      <ul>
        <% suggestion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :find, style: "display: block" %>
    <%= form.text_field :find %>
  </div>

  <div>
    <%= form.label :replace, style: "display: block" %>
    <%= form.text_field :replace %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
