<div id="<%= dom_id suggestion %>">
  <p>
    <%='Replace: ' + suggestion.find.to_s %>
  </p>

  <p>
    <%='With : ' + suggestion.replace.to_s %>
  </p>

  <%= button_to 'Approve', report_path, method: 'put' %>
  <%= button_to "Destroy this suggestion", [suggestion.post, suggestion], method: :delete %>
  <%= link_to "Edit this suggestion", edit_post_suggestion_path([suggestion.post, suggestion]) %>


</div>
