<div id="<%= dom_id suggestion %>">
  <p>
    <li><%='Replace: ' + suggestion.find.to_s + '  -> With: ' + suggestion.replace.to_s  %></li>
    <small class="ml-4 text-secondary">Suggested By: <%= suggestion&.user&.name %> on post <%= suggestion&.post.id %> </small>
  </p>
  <div class="btn-group" role="group">
    <%if eligible_user(suggestion.post) %>
      <%= link_to suggestion.replies.count.to_s +  " Replies", post_suggestion_path(suggestion.post, suggestion),  :class => "btn btn-outline-primary btn-sm px-4 me-md-2 fw-bold sty mt-2 ml-2 mb-3"  %>
      <%= button_to "Approve", post_suggestion_approve_path(@post, suggestion), method: :put,  :class => "btn btn-outline-success btn-sm px-4 me-md-2 fw-bold sty mt-2 ml-2 mb-3"  %>
      <%= button_to "Discard", [suggestion.post, suggestion], method: :delete, :class => "btn btn-outline-dark btn-sm px-4 me-md-2 fw-bold sty mt-2 ml-2 mb-3" %>

    <% elsif suggestion.user_id == current_user.id  %>
      <%= button_to "Discard", [suggestion.post, suggestion], method: :delete, :class => "btn btn-outline-dark btn-sm px-4 me-md-2 fw-bold sty mt-2 ml-2 mb-3" %>
    <% end %>
  </div>
</div>
